
@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,400&display=swap');

@font-face{
    font-family: Monaco;
  src: url("https://github.com/todylu/monaco.ttf/blob/master/monaco.ttf");
}

body {
    font-family: Raleway;
    width: 100vw;
    height: 100vh;

  
}

* {
    box-sizing: border-box;
 }

#root{
    width: inherit;
    height: inherit;  
}