
@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,400&display=swap');

@font-face{
    font-family: Monaco;
  src: url("https://github.com/todylu/monaco.ttf/blob/master/monaco.ttf");
}


* {
    box-sizing: border-box;
 }

body {
    font-family: Raleway;
    width: 100vw;
    height: 100vh;
    padding: 35px;

  
}


#root{
    width: 100%;
    height: 100%;  
}